$bgbanner: url('../img/backgroundslide.png');

.c-banner {
  background-image: $bgbanner;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 768px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  @include mobile {
    height: auto;
    padding-top: calc(100% * 363 / 590);
    overflow: unset;
  }
  &__slogan {
    position: absolute;
    left: 0px;
    overflow-y: hidden;
    top: 216px;
  }
  &__staffgirl {
    width: 300px;
    height: 536px;
    position: absolute;
    right: 366px;
    bottom: 0px;
    z-index: 1;
    @include mobile {
      right: 50%;
      transform: translateX(25%);
      right: 50%;
      transform: translateX(25%);
      width: calc(100% * 330 / 1366);
      height: auto;
    }
    &--img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__staffmen {
    width: 313px;
    height: 634px;
    position: absolute;
    right: 87px;
    bottom: -3px;
    @include mobile {
      right: unset;
      left: 50%;
      right: unset;
      left: 50%;
      width: calc(100% * 310 / 1366);
      height: auto;
    }
  }
}
@include table {
  .c-slogan.c-banner__slogan {
    z-index: 4;
    width: calc(100% - 28px);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    position: unset;
    margin-top: -30px;
  }
}
