$mobile-width: 768px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
.c-communication {
  right: 0px;
  font-size: 30px;
  background: #ffff00;
  padding: 12px 38px;
  border-radius: 30px 0px 0px 30px;
  color: #004442;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 22px;
  letter-spacing: 1.2px;
  padding-top: 15px;
  padding-left: 35px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  &__phone {
    display: flex;
    align-items: center;
    @include mobile {
      font-size: 43px;
    }
  }
  &__wrapicon {
    margin-right: 10px;
  }
  &__time {
    font-size: 20px;
    @include mobile {
      font-size: 24px;
    }
  }
  @include mobile {
    bottom: 0px;
    top: unset;
    transform: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px;
    padding: 17px 22px;
  }
}
