.c-header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  position: fixed;
  z-index: 6;
  background-color: #ffffff;
  &__close {
    display: none;
    @include table {
      display: block;
      position: fixed;
      top: 0px;
      left: -100%;
      font-size: 40px;
      color: red;
      z-index: 8;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      transition: all ease-in 0.3s;
    }
  }
  @include table {
    height: 60px;
  }
  &__nav {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    @include table {
      display: flex;
      position: fixed;
      flex-direction: column;
      top: 0px;
      left: -100%;
      background: white;
      height: 100vh;
      z-index: 6;
      width: 100%;
      transition: all ease-in 0.2s;
    }
  }
  &__menu {
    display: none;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to right, #008870, #003544);
    padding: 11px;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    @include table {
      display: flex;
      cursor: pointer;
    }
  }
  &__line {
    height: 2px;
    background: white;
    border-radius: 12px;
  }
  &__textmenu {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    font-weight: 700;
  }
}
