.c-news {
  padding-top: 48px;
  padding-bottom: 78px;
  width: 789px;
  max-width: 100%;
  margin: auto;
  @include mobile {
    padding-bottom: 45px;
  }
  &__tittle {
    display: flex;
    margin-bottom: 88px;
    width: 100%;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.7px;
    border-bottom: 4px solid #e3dfb9;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
      flex-wrap: wrap;
      font-size: 11px;
      margin-bottom: 10px;
    }
  }
  &__content {
    text-align: center;
    @include mobile {
      padding: 0px 20px;
    }
  }
  &__tit1 {
    margin-right: 34px;
    @include mobile {
      margin: 0px;
      font-size: 18px;
      width: 100%;
      text-align: center;
    }
  }
  &__tit2 {
    margin-right: 19px;
    @include mobile {
      margin-right: 5px;
    }
  }
  &__tit3 {
    padding: 3px 28px;
    border-radius: 12px;
    background: #7c621b;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-right: 19px;
    @include mobile {
      font-size: 11px;
      padding: 0px 5px;
      margin-right: 5px;
    }
  }
  &__sub {
    max-width: 100%;
    margin: auto;
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 43px;
    @include mobile {
      font-size: 14px;
      margin-top: 10px;
    }
  }
  &__slogan {
    line-height: 51px;
    font-family: 'Noto Serif JP', serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 23px;
    letter-spacing: 2px;
    @include mobile {
      font-size: 24px;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
  }

  &__wrapicon {
    margin-left: auto;
    font-size: 16px;
    color: #004442;
  }
  &__tit4 {
    @include mobile {
      min-width: 150px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

.c-line__center {
  background: #7c621b;
  height: 4px;
  width: 80px;
  margin: auto;
}
