$header-width: 1278px;

@mixin header {
  @media (max-width: #{$header-width}) {
    @content;
  }
}

.c-topnav {
  @include table {
    flex-direction: column;
    margin: 0;
    margin-top: 25px;
  }
  display: flex;
  margin-right: 14px;
  letter-spacing: 1.5px;
  &__item {
    padding: 0px 14px;
    @include table {
      width: 217px;
      height: 80px;
      background-image: linear-gradient(to right, #008870, #003544);
      color: white;
      text-align: center;
      margin-bottom: 10px;
      text-align: 80px;
      line-height: 80px;
      z-index: 6;
    }
  }
}
.c-btn {
  &__contact {
    display: flex;
    padding: 25px 30px;
    background-image: linear-gradient(to right, #008870, #003544);
    align-items: center;
    height: 80px;
    color: white;
    font-size: 20px;
    line-height: 20px;
  }
  &__wrapicon {
    margin-right: 10px;
  }
}

.c-logo {
  display: flex;
  padding: 18px 15px;
  width: 291px;
  box-sizing: content-box;
  @include mobile {
    width: calc(100% - 60px);
    max-width: 291px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
